In [269]:
import pandas as pd
import dataframe_helper as dh

In [270]:
finland = pd.read_csv('data/transformed_finland_data/finland_cities_emissions.csv')
#find how many cities occur per region (will need for later)
finland['Region'].value_counts()/11

Region
Uusimaa                 16.0
Lapland                  7.0
Satakunta                4.0
Kanta-Haeme              4.0
South Ostrobothnia       3.0
Southwest Finland        3.0
South Savo               3.0
North Ostrobothnia       3.0
Paeijaet-Haeme           2.0
Kymenlaakso              2.0
North Savo               2.0
Pirkanmaa                2.0
South Karelia            2.0
Central Finland          1.0
Aaland                   1.0
Central Ostrobothnia     1.0
Kainuu                   1.0
North Karelia            1.0
Ostrobothnia             1.0
Name: count, dtype: float64

In [297]:
sweden = pd.read_csv('data/transformed_sweden_data/sweden_cities_emissions.csv')
sweden_2022 = sweden[sweden['Year'] == 2022]
sweden_2022_total = sweden_2022['Total Emissions'].sum()
sweden_2022_total

16104.599999999999

In [271]:
fin_flux_df = pd.read_csv('data/net_emissions/FIN_cities.csv')
fin_flux_df

,region_id,city_id,region_name,city_name,net_forest_emissions_01_to_23
0,1,1,Eastern Finland,North Karelia,-3.272379e+07
1,1,2,Eastern Finland,North Savonia,-3.414600e+07
2,1,3,Eastern Finland,Päijänne Tavastia,-3.982958e+06
3,1,4,Eastern Finland,Southern Savonia,-9.429634e+06
4,2,1,Lapland,Lapland,-3.660515e+08
5,3,1,Oulu,Kainuu,-7.172596e+07
6,3,2,Oulu,Northern Ostrobothnia,-1.213289e+08
7,4,1,Southern Finland,Eastern Uusimaa,-1.657289e+06
8,4,2,Southern Finland,Kymenlaakso,3.290119e+06
9,4,3,Southern Finland,Päijänne Tavastia,1.007307e+05
10,4,4,Southern Finland,South Karelia,4.684022e+06
11,4,5,Southern Finland,Uusimaa,-1.583087e+07
12,5,1,Western Finland,Central Finland,-3.019492e+07
13,5,2,Western Finland,Central Ostrobothnia,-1.443571e+07
14,5,3,Western Finland,Finland Proper,-1.877716e+07
15,5,4,Western Finland,Ostrobothnia,-1.777918e+07
16,5,5,Western Finland,Päijänne Tavastia,-2.478142e+06
17,5,6,Western Finland,Pirkanmaa,-1.958793e+07
18,5,7,Western Finland,Satakunta,-1.547105e+07
19,5,8,Western Finland,Southern Ostrobothnia,-2.500623e+07
20,5,9,Western Finland,Tavastia Proper,-3.364913e+06

In [272]:
swe_flux_df = pd.read_csv('data/net_emissions/SWE_cities.csv')
swe_flux_df = swe_flux_df.drop(columns=['region_id', 'city_id'])
swe_flux_df['region_name'] = swe_flux_df['region_name'].apply(dh.replace_special_chars)
swe_flux_df['city_name'] = swe_flux_df['city_name'].apply(dh.replace_special_chars)
swe_flux_df

           region_name    city_name  net_forest_emissions_01_to_23
0             Blekinge    Karlshamn                  -2.170271e+06
1             Blekinge   Karlskrona                  -4.056156e+06
2             Blekinge   Olofstroem                  -1.466206e+06
3             Blekinge      Ronneby                  -2.604945e+06
4             Blekinge  Soelvesborg                  -6.939886e+05
..                 ...          ...                            ...
285  Vaestra goetaland    Uddevalla                  -3.876422e+06
286  Vaestra goetaland   Ulricehamn                  -5.005118e+06
287  Vaestra goetaland  Vaenersborg                  -2.897531e+06
288  Vaestra goetaland         Vara                  -8.080669e+05
289  Vaestra goetaland   Vaargaarda                  -1.461510e+06

[290 rows x 3 columns]

In [273]:
fin_reg_emissions_df = pd.read_csv('data/transformed_finland_data/finland_regions_emissions.csv')
fin_reg_emissions_df

,Year,Region,Population,Waste And Sewage,Machinery,Electricity And District Heating,Other Heating,Agriculture,Transportation,Industry,Total Emissions
0,1990,Central Finland,254539.0,177.0,136.4,545.4,394.0,347.5,551.1,84.5,2238.7
1,2005,Central Finland,266770.0,106.1,143.1,494.9,346.8,285.2,604.6,93.2,2132.6
2,2010,Central Finland,271083.0,94.7,142.0,770.5,368.4,281.7,592.8,58.6,2376.5
3,2015,Central Finland,273446.0,86.3,144.3,413.1,215.3,266.2,516.6,44.0,1748.3
4,2016,Central Finland,273910.0,78.6,138.3,445.1,235.7,265.2,570.8,37.1,1830.3
...,...,...,...,...,...,...,...,...,...,...,...
204,2018,Aaland,29789.0,9.5,8.6,31.4,31.2,42.2,108.6,3.2,242.9
205,2019,Aaland,29884.0,9.3,9.3,28.1,27.6,41.6,107.2,2.7,233.6
206,2020,Aaland,30129.0,8.9,9.2,17.1,24.5,42.3,84.7,2.8,196.8
207,2021,Aaland,30344.0,8.4,7.9,24.3,26.0,41.6,75.8,2.2,192.9
208,2022,Aaland,30359.0,8.0,7.8,16.1,23.5,38.6,78.9,3.6,181.8

In [274]:
#adjust regiona names for consistency
fin_flux_df = fin_flux_df.drop(columns=['region_name', 'region_id', 'city_id'])
fin_flux_df['city_name'] = fin_flux_df['city_name'].str.replace('Southern', 'South')
fin_flux_df['city_name'] = fin_flux_df['city_name'].str.replace('Northern', 'North')
fin_flux_df['city_name'] = fin_flux_df['city_name'].str.replace('Savonia', 'Savo')
fin_flux_df = fin_flux_df.replace(['Finland Proper', 'Tavastia Proper', 'Päijänne Tavastia'], ['Southwest Finland', 'Kanta-Haeme', 'Paeijaet-Haeme'])

In [275]:
# combine uusimaa and eastern uusimaa emissions
uusimaa_value = fin_flux_df.loc[fin_flux_df['city_name'] == 'Uusimaa', 'net_forest_emissions_01_to_23'].values[0]
eastern_uusimaa_value = fin_flux_df.loc[fin_flux_df['city_name'] == 'Eastern Uusimaa', 'net_forest_emissions_01_to_23'].values[0]

# update uusimaa
fin_flux_df.loc[fin_flux_df['city_name'] == 'Uusimaa', 'net_forest_emissions_01_to_23'] = uusimaa_value + eastern_uusimaa_value

# drop eastern uusimaa
fin_flux_df = fin_flux_df[fin_flux_df['city_name'] != 'Eastern Uusimaa']

In [276]:
# assign all the paeijaet-haeme rows to new df and sum their emission values
fin_flux_df_paeijaet = fin_flux_df.loc[fin_flux_df['city_name'] == 'Paeijaet-Haeme']
fin_flux_df_paeijaet['net_forest_emissions_01_to_23'] = fin_flux_df_paeijaet['net_forest_emissions_01_to_23'].sum()

C:\Users\paalr\AppData\Local\Temp\ipykernel_9260\3599371888.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_flux_df_paeijaet['net_forest_emissions_01_to_23'] = fin_flux_df_paeijaet['net_forest_emissions_01_to_23'].sum()

In [277]:
fin_flux_df_paeijaet

         city_name  net_forest_emissions_01_to_23
2   Paeijaet-Haeme                  -6.360369e+06
9   Paeijaet-Haeme                  -6.360369e+06
16  Paeijaet-Haeme                  -6.360369e+06

In [278]:
# replace paeijaet-hame values in original df and drop surplus
fin_flux_df.loc[fin_flux_df['city_name'] == 'Paeijaet-Haeme', 'net_forest_emissions_01_to_23'] = fin_flux_df_paeijaet
fin_flux_df = fin_flux_df.drop_duplicates(subset=['city_name'])

In [279]:
# manually add aaland as it was not included in dataset
aaland = {'city_name': 'Aaland', 'net_forest_emissions_01_to_23': -3570000}
fin_flux_df = fin_flux_df._append(aaland, ignore_index=True)

In [280]:
# divide by 23 to get yearly average
fin_flux_df['net_forest_emissions_01_to_23'] = fin_flux_df['net_forest_emissions_01_to_23']/23
fin_flux_df = fin_flux_df.rename(columns={'city_name': 'Region', 'net_forest_emissions_01_to_23': 'Average Yearly Net Tree Emissions(For Whole Region)'})

swe_flux_df['net_forest_emissions_01_to_23'] = swe_flux_df['net_forest_emissions_01_to_23']/23
swe_flux_df = swe_flux_df.rename(columns={'region_name': 'Region', 'net_forest_emissions_01_to_23': 'Average Yearly Net Tree Emissions', 'city_name': 'City'})

In [281]:
# dict containing regiona name and number of cities and region as k/v pair
reg_num_dict = {
    'Uusimaa': 16,
    'Lapland': 7,
    'Satakunta': 4,
    'Kanta-Haeme': 4,
    'South Ostrobothnia': 3,
    'Southwest Finland': 3,
    'South Savo':3,
    'North Ostrobothnia':3,
    'Paeijaet-Haeme':2,
    'Kymenlaakso': 2,
    'North Savo': 2,
    'Pirkanmaa': 2,
    'South Karelia': 2,
    'Central Finland': 1,
    'Aaland': 1,
    'Central Ostrobothnia': 1,
    'Kainuu': 1,
    'North Karelia': 1,
    'Ostrobothnia': 1,
}

# map using dict
fin_flux_df['Num of Cities in Region'] = fin_flux_df['Region'].map(reg_num_dict)

# do the division based on previously mapped divisor
fin_flux_df['Average Yearly Net Tree Emissions'] = fin_flux_df['Average Yearly Net Tree Emissions(For Whole Region)'] / fin_flux_df['Num of Cities in Region']
fin_flux_df

,Region,Average Yearly Net Tree Emissions(For Whole Region),Num of Cities in Region,Average Yearly Net Tree Emissions
0,North Karelia,-1.422774e+06,1,-1.422774e+06
1,North Savo,-1.484609e+06,2,-7.423043e+05
2,Paeijaet-Haeme,-2.765378e+05,2,-1.382689e+05
3,South Savo,-4.099841e+05,3,-1.366614e+05
4,Lapland,-1.591528e+07,7,-2.273612e+06
5,Kainuu,-3.118520e+06,1,-3.118520e+06
6,North Ostrobothnia,-5.275171e+06,3,-1.758390e+06
7,Kymenlaakso,1.430486e+05,2,7.152432e+04
8,South Karelia,2.036532e+05,2,1.018266e+05
9,Uusimaa,-7.603545e+05,16,-4.752216e+04
10,Central Finland,-1.312823e+06,1,-1.312823e+06
11,Central Ostrobothnia,-6.276395e+05,1,-6.276395e+05
12,Southwest Finland,-8.163982e+05,3,-2.721327e+05
13,Ostrobothnia,-7.730080e+05,1,-7.730080e+05
14,Pirkanmaa,-8.516490e+05,2,-4.258245e+05
15,Satakunta,-6.726545e+05,4,-1.681636e+05
16,South Ostrobothnia,-1.087227e+06,3,-3.624091e+05
17,Kanta-Haeme,-1.463006e+05,4,-3.657515e+04
18,Aaland,-1.552174e+05,1,-1.552174e+05

In [282]:
swe_flux_df['Region'] = swe_flux_df['Region'].str.title()
swe_flux_df['City'] = swe_flux_df['City'].str.title()

In [283]:
swe_flux_df

                Region         City  Average Yearly Net Tree Emissions
0             Blekinge    Karlshamn                      -94359.599931
1             Blekinge   Karlskrona                     -176354.589935
2             Blekinge   Olofstroem                      -63748.068868
3             Blekinge      Ronneby                     -113258.490755
4             Blekinge  Soelvesborg                      -30173.416726
..                 ...          ...                                ...
285  Vaestra Goetaland    Uddevalla                     -168540.066664
286  Vaestra Goetaland   Ulricehamn                     -217613.847455
287  Vaestra Goetaland  Vaenersborg                     -125979.620218
288  Vaestra Goetaland         Vara                      -35133.343672
289  Vaestra Goetaland   Vaargaarda                      -63543.916745

[290 rows x 3 columns]

In [284]:
swe_flux_df.to_csv('data/net_emissions/sweden_tree_net_emissions.csv', index=False)

In [285]:
fin_flux_df.to_csv('data/net_emissions/finland_tree_net_emissions.csv', index=False)

In [286]:
flux_swe = pd.read_csv('data/net_emissions/sweden_tree_net_emissions.csv')
flux_fin = pd.read_csv('data/net_emissions/finland_tree_net_emissions.csv')

flux_swe = flux_swe.drop(columns='Region')

transformed_swe_data = pd.read_csv('data/transformed_sweden_data/sweden_cities_emissions.csv')
transformed_fin_data = pd.read_csv('data/transformed_finland_data/finland_cities_emissions.csv')

In [287]:
transformed_fin_data = transformed_fin_data.merge(flux_fin, how='left', on='Region')
transformed_fin_data

,Year,City,Region,Population,Waste And Sewage,Machinery,Electricity And District Heating,Other Heating,Agriculture,Transportation,Industry,Total Emissions,Average Yearly Net Tree Emissions(For Whole Region),Num of Cities in Region,Average Yearly Net Tree Emissions
0,1990,Jyvaeskylae,Central Finland,103921.0,63.2,27.4,388.3,111.5,22.6,226.9,18.2,859.2,-1.312823e+06,1,-1.312823e+06
1,2005,Jyvaeskylae,Central Finland,124205.0,30.7,29.4,336.8,101.6,17.3,257.6,27.4,824.7,-1.312823e+06,1,-1.312823e+06
2,2010,Jyvaeskylae,Central Finland,130816.0,26.2,29.8,521.3,108.5,18.3,248.9,18.3,1000.0,-1.312823e+06,1,-1.312823e+06
3,2015,Jyvaeskylae,Central Finland,137368.0,26.8,34.1,290.7,59.3,15.5,220.9,14.3,689.2,-1.312823e+06,1,-1.312823e+06
4,2016,Jyvaeskylae,Central Finland,138850.0,22.1,30.3,301.0,65.8,15.2,243.4,12.4,716.7,-1.312823e+06,1,-1.312823e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,2018,Orimattila,Paeijaet-Haeme,16091.0,5.2,14.0,12.3,19.3,41.1,40.2,3.7,138.8,-2.765378e+05,2,-1.382689e+05
645,2019,Orimattila,Paeijaet-Haeme,16003.0,5.1,13.8,9.8,18.7,42.5,40.1,3.2,135.9,-2.765378e+05,2,-1.382689e+05
646,2020,Orimattila,Paeijaet-Haeme,15882.0,5.0,13.7,7.8,17.3,41.8,37.0,3.1,128.1,-2.765378e+05,2,-1.382689e+05
647,2021,Orimattila,Paeijaet-Haeme,15808.0,4.9,12.6,9.4,19.2,39.5,35.7,2.1,125.8,-2.765378e+05,2,-1.382689e+05
648,2022,Orimattila,Paeijaet-Haeme,15735.0,4.7,12.3,9.3,17.0,38.2,33.6,4.4,121.7,-2.765378e+05,2,-1.382689e+05

In [288]:
transformed_swe_data= transformed_swe_data.merge(flux_swe, how='left', on='City')
transformed_swe_data

,Year,City,Region,Population,Waste And Sewage,Machinery,Electricity And District Heating,Other Heating,Agriculture,Transportation,Industry,Total Emissions,Average Yearly Net Tree Emissions
0,1990,Aamaal,Vaestra Goetalands laen,0,0.000000,4.811133,0.000000,28.777188,0.346594,27.977733,4.062457,65.975106,-1.170519e+05
1,1990,Aange,Vaesternorrlands laen,0,0.000000,11.425315,0.346597,17.385892,0.258564,35.589549,19.064812,84.070729,-4.316967e+05
2,1990,Aare,Jaemtlands laen,0,0.000000,7.447719,1.229087,18.713597,0.340497,52.666931,0.788384,81.186215,-1.492871e+06
3,1990,Aarjaeng,Vaermlands laen,0,0.000000,5.325667,0.000000,29.466159,0.401572,38.151832,4.670307,78.015536,-3.217802e+05
4,1990,Aasele,Vaesterbottens laen,0,0.000000,7.860738,23.033171,4.807135,0.052021,14.132380,0.607494,50.492938,-8.265517e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,2022,Vimmerby,Kalmar laen,0,0.116983,5.884004,2.524333,1.359106,0.390171,25.738377,6.557562,42.570536,-9.881887e+04
3186,2022,Vindeln,Vaesterbottens laen,0,0.274460,6.306134,0.135660,0.563568,0.166278,16.239595,0.131270,23.816964,-3.800083e+05
3187,2022,Vingaaker,Soedermanlands laen,0,0.042504,3.886020,0.090440,0.925802,0.365811,13.822623,3.488391,22.621590,-2.111175e+04
3188,2022,Ydre,Oestergoetlands laen,0,0.075053,2.067292,0.000000,0.831252,0.169473,7.240221,0.193720,10.577010,-1.243839e+05
3189,2022,Ystad,Skaane laen,0,0.116217,13.714572,0.000000,5.166677,1.110255,34.662918,1.615977,56.386616,-1.850995e+04

In [289]:
# used to find rows with nan's, no longer needed
mask = False
for col in transformed_swe_data.columns: 
    mask = mask | transformed_swe_data[col].isnull()
dfnulls = transformed_swe_data[mask]

In [290]:
# convert to megaton for consistency
transformed_swe_data['Average Yearly Net Tree Emissions'] = transformed_swe_data['Average Yearly Net Tree Emissions']/1000000
transformed_fin_data['Average Yearly Net Tree Emissions'] = transformed_fin_data['Average Yearly Net Tree Emissions']/1000000

In [291]:
# transformed_fin_data['Total (Existing CO2 Storage from Trees Subtracted)'] = transformed_swe_data['Total Emissions'] + transformed_swe_data['Average Yearly Net Tree Emissions']
# transformed_fin_data['Total (Existing CO2 Storage from Trees Subtracted)'] = transformed_fin_data['Total Emissions'] + transformed_fin_data['Average Yearly Net Tree Emissions']

In [292]:
# transformed_fin_data['Total Emissions'].sum()

In [293]:
# transformed_fin_data = transformed_fin_data[transformed_fin_data['Year'] == 2022]
# transformed_fin_data = transformed_fin_data[transformed_fin_data['City'] == 'Helsinki']
# transformed_fin_data['Total (Existing CO2 Storage from Trees Subtracted)'].values[0]

In [294]:
transformed_swe_data.to_csv('data/transformed_sweden_data/sweden_cities_emissions_final.csv', index=False)
transformed_fin_data.to_csv('data/transformed_finland_data/finland_cities_emissions_final.csv', index=False)